@model Service.Models.Author
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Session["UserSession"] == null)
{
    using (Html.BeginForm("AddAuthor", "Author", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <h2>Add a new Author to the database</h2>

        <div>
            <h1 class="errorMessage">@TempData["Error"]</h1>
        </div>

        <hr />

        <div class="form-horizontal">
           
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.Label("FirstName", "First Name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(x => x.FirstName, new { htmlAttributes = new { @class = "form-control", @style = "width: 400px", @placeholder = "First Name" } })
                    @Html.ValidationMessageFor(x => x.FirstName, "Please enter a first name!", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("LastName", "Last Name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(x => x.LastName, new { htmlAttributes = new { @class = "form-control", @style = "width: 400px", @placeholder = "Last Name" } })
                    @Html.ValidationMessageFor(x => x.LastName, "Please enter a last name!", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("BirthYear", "Birth Year", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(x => x.BirthYear, new { htmlAttributes = new { @class = "form-control", @style = "width: 400px", @placeholder = "Birth Year" } })
                    @Html.ValidationMessageFor(x => x.BirthYear, "", new { @class = "text-danger" })
                </div>
            </div>
            <hr />

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Add" class="btn btn-default" formmethod="post" />
                </div>
            </div>

        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "../Author/ListAuthors")
    </div>
}

@if (Session["UserSession"] != null)
{
    <h>
        You are not authorized to view this page.
    </h>
}