@model Service.Models.Author
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.AntiForgeryToken();

@if (Session["UserSession"] != null)
{
    using (Html.BeginForm("AddAuthor", "Author", FormMethod.Post))
    {
        <div class="form-horizontal">
            <h2>Add an Author to the database</h2>
            <hr />

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.Label("fname", "First Name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.Editor("fname", new { htmlAttributes = new { @class = "form-control", @style = "width: 400px", @placeholder = "First Name" } })
                    @Html.ValidationMessage("fname", "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("lname", "Last Name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.Editor("lname", new { htmlAttributes = new { @class = "form-control", @style = "width: 400px", @placeholder = "Last Name" } })
                    @Html.ValidationMessage("lname", "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("byear", "Birth Year", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.Editor("byear", new { htmlAttributes = new { @class = "form-control", @style = "width: 400px", @placeholder = "Birth Year" } })
                    @Html.ValidationMessage("byear", "", new { @class = "text-danger" })
                </div>
            </div>
            <hr />

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Add" class="btn btn-default" formmethod="post" />
                </div>
            </div>

        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "../Author")
    </div>
}