@using MvcPaging
@model IPagedList<Service.Models.Author>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Authors";
}

<h2>Search for an Author</h2>
<form>
    <input type="text" name="AuthorSearch">
    <input type="submit" value="Search">
</form>

<h2>Result</h2>
@if (Session["UserName"] != null)
{
    <div>
        @Html.ActionLink("Add New Author", "AddAuthor", "Author", null, null)
    </div>
}
<div>
    <div class="pagination">
        @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
    </div>
    <div class="pagination">

        @foreach (var author in Model)
        {
            var FullName = @author.FirstName + " " + @author.LastName;
            <div class="container">
                <hr>
                <div class="left">
                    <img src="~/Resources/authimg1.png" class="iconDetails">
                </div>
                <div class="right">
                    @Html.ActionLink(FullName, "ShowAuthor", "Author", new { id = author.Aid }, null)
                </div>
            </div>
        }
    </div>
    <div class="pagination">
        <a>@Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)</a>
    </div>
</div>