@model Service.Models.Author

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "ShowAuthor";
}

<h2>Show Author</h2>
@if (Session["UserSession"] != null)
{
    <div>
        @Html.ActionLink("Edit", "EditAuthor", "Author", new { id = Model.Aid }, null) || @Html.ActionLink("Delete", "DeleteAuthor", "Author", new { id = Model.Aid }, null)
    </div>
}
<div>
    <dd>
<div class="containerAuthor">
    <div class="left">
        <img src="~/Resources/authimg1.png" class="iconDetails">
    </dd>

    <dt>Name</dt>
    <dd>@Model.FirstName @Model.LastName</dd>
    
    <dt>AidId</dt>
    <dd>@Model.Aid</dd>

    <dt>Birth year </dt>
    <dd>@Model.BirthYear</dd>

    
    <dt>
        Books by @Model.FirstName @Model.LastName:
    </dt>

    @foreach (var item in Model.AuthBooks)
    {
        <li class="listauthbooks">
            @Html.ActionLink(@item.Title, "ShowBook", "Book", new { id = item.ISBN }, null)
        </li>
    }
    
   
</div>
</div>
    
