@model Service.Models.Author

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "ShowAuthor";
}

<h2>Show Author</h2>
<div>
    @Html.ActionLink("Edit", "EditAuthor", "Author", new { id = Model.Aid }, null)
</div>
<dl>
    <dd>
        <img src="~/Resources/authimg1.png" class="iconDetails">
    </dd>

    <dt>Name</dt>
    <dd>@Model.FirstName @Model.LastName</dd>

    <dt>AidId</dt>
    <dd>@Model.Aid</dd>

    <dt>Birth year </dt>
    <dd>@Model.BirthYear</dd>

</dl>