<!DOCTYPE html>
<html lang="en">
<head>
    <title>Jönköping University Library</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>

    body
    {
        position: relative;
    }

    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      background-color: white;
    }

    .login-text
    {
        user-select:none;
        color: black;
    }

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}

    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: white;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /*Pagination Styles - Begin*/
    .pagination {
        display: inline-block;
    }

    .pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
    }

    .pagination a.active {
        background-color: #4CAF50;
        color: white;
        border-radius: 5px;
    }

    .pagination a:hover:not(.active) {
        background-color: #ddd;
        border-radius: 5px;
    }
    /*Pagination Styles - End*/

    </style>
</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"><img src="~/Resources/JU-Logo-Lib2.png"></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home","Index","Library")</li>
                    <li>@Html.ActionLink("Books","ListBooks","Book")</li>
                    <li>@Html.ActionLink("Authors","ListAuthor","Author")</li>
                    <li>@Html.ActionLink("Administrators","Administrator" ,"Library")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <!------------------------------------------------------------- Login-dropdown Start ------------------------------------------------------------->
                    <li class="dropdown">
                        <a class="dropdown-toggle login-text" data-toggle="dropdown">Log In<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu" style="width: 230px">
                            <li class="col-lg-12">
                                <div class="text-center"><h3><b>Log In</b></h3></div>
                                <form class="form-horizontal" role="form" action="@Url.Action("Login", "Library")" style="margin-left: 10px; margin-right: 10px;">
                                    <div class="form-group">
                                        <label for="username">Username</label>
                                        <input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="" autocomplete="off">
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password" autocomplete="off">
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-xs-7">
                                                <input type="checkbox" tabindex="3" name="remember" id="remember">
                                                <label for="remember"> Remember Me</label>
                                            </div>
                                            <div class="col-xs-5 pull-right">
                                                <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-success" value="Log In">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="text-center">
                                                    <a href="#" tabindex="5" class="forgot-password">Forgot Password?</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </li>
                    <!------------------------------------------------------------- Login-dropdown End ------------------------------------------------------------->
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2 sidenav">
            </div>
            <div class="col-sm-8 text-left">
                <h1>Välkommen</h1>
                    <p>
                       Högskolebiblioteket är högskolans viktigaste gemensamma informationsresurs för vetenskaplig forskning och högre studier. <br>
                       Vi erbjuder samlingar av tryckt och elektronisk litteratur och informationstjänster som kan användas både på plats och via webbplatsen.
                    </p>
                <hr>
                @RenderBody()
            </div>
            <div class="col-sm-2 sidenav">
            </div>
        </div>
    </div>

    <footer class="container-fluid text-center">
        <p>Footer Text</p>
    </footer>

</body>
</html>

