@model Service.Models.Book
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Session["UserName"] != null)
{
    <h2>Add a Book to the database</h2>


    using (Html.BeginForm())
    {
        @:ISBN: @Html.TextBox("isbn")<br>
        @:Title: @Html.TextBox("title")<br>
        @:Publication year: @Html.TextBox("pyear")<br>
        @:Publication info: @Html.TextBox("pinfo")<br>
        @:Pages: @Html.TextBox("pages")<br>
        <input type="submit" value="Add" formmethod="post" /><br>
    }
}