@model Service.Models.Book
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Session["UserSession"] == null)
{
    <h2>Add a Book to the database</h2>

    <div>
        <h1 class="errorMessage">@TempData["Error"]</h1>
    </div>

    <hr />

        using (Html.BeginForm("AddBook", "Book", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
          
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.Label("ISBN", "ISBN", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(x => x.ISBN, new { htmlAttributes = new { @class = "form-control", @style = "width: 400px", @placeholder = "ISBN" } })
                        @Html.ValidationMessageFor(x => x.ISBN, "Please enter ISBN", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Title", "Title", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(x => x.Title, new { htmlAttributes = new { @class = "form-control", @style = "width: 400px", @placeholder = "Title" } })
                        @Html.ValidationMessageFor(x => x.Title, "Please enter a Title!", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("PublicationYear", "Publication Year", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(x => x.PublicationYear, new { htmlAttributes = new { @class = "form-control", @style = "width: 400px", @placeholder = "Publication Year" } })
                        @Html.ValidationMessageFor(x => x.PublicationYear, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("publicationinfo", "Publication Info", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(x => x.publicationinfo, new { htmlAttributes = new { @class = "form-control", @style = "width: 400px", @placeholder = "Publication Info" } })
                        @Html.ValidationMessageFor(x => x.publicationinfo, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Pages", "Pages", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(x => x.Pages, new { htmlAttributes = new { @class = "form-control", @style = "width: 400px", @placeholder = "Pages" } })
                        @Html.ValidationMessageFor(x => x.Pages, "Please enter number of pages: 0-9999", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.Label("authorID", "Author", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.Editor("authorID", new { htmlAttributes = new { @class = "form-control", @style = "width: 400px", @placeholder = "Pages" } })
                    @Html.ValidationMessage("authorID", "Please enter the books author id", new { @class = "text-danger" })
                </div>
            </div>
            <hr />

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Add" class="btn btn-default" formmethod="post" />
                    </div>
                </div>

            </div>
    }

    <div>
        @Html.ActionLink("Back to List", "../Book/ListBooks")
    </div>
}


@if (Session["UserSession"] != null)
{
    <h>
        You are not authorized to view this page.
    </h>
}