@model Service.Models.Book

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "EditBook";
}

@if (Session["UserName"] != null)
{
    <h2>Edit Book</h2>

    using (Html.BeginForm())
    {
        @:ISBN: @Html.TextBox("isbn", Model.ISBN)<br>
        @:Title: @Html.TextBox("title", Model.Title)<br>
        @:Sign Id: @Html.TextBox("signid", Model.SignId)<br>
        @:Publication year: @Html.TextBox("publicationyear", Model.PublicationYear)<br>
        @:Publication info: @Html.TextBox("Publicationinfo", Model.publicationinfo)<br>
        @:Pages: @Html.TextBox("pages", Model.Pages)<br>
        <input type="submit" value="Add" formmethod="post"/><br>
    }
}