@using MvcPaging
@model IPagedList<Service.Models.Book>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Books";
}



<div>
    <h2>Search for a Book</h2>  
    @using (Html.BeginForm("SearchBook", "Book", FormMethod.Post))
    {
        @Html.TextBox("searchString")
        <input type="Submit" value="Search" />
    }
</div>

@if (Session["UserName"] != null)
{
    <div>
        <form>
            <a href="/Book/AddBook">Add Book</a>
        </form>
    </div>
}

 <div>
     <div class="pagination">
        <a>@Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount) </a>
     </div>
     <div class="pagination">
        
            @foreach(var book in Model)
            {
                <div class="container">
                    <hr>
                    <div class="left">
                        <img src="~/Resources/bookicon2.png" class="iconDetails">
                    </div>
                    <div class="right">
                        @Html.ActionLink(@book.Title, "ShowBook", "Book", new { id = book.ISBN }, null)
                    </div>
                </div>     
            }     
     </div>
     <div class="pagination">
         <a>@Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)</a>
     </div>
</div>