@model Service.Models.Book

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "ShowBook";
}

<h2>Show chosen Book</h2>

@if (Session["UserSession"] != null)
{
    <div>
        @Html.ActionLink("Edit", "EditBook", "Book", new { id = Model.ISBN }, null) || @Html.ActionLink("Delete", "DeleteBook", "Book", new { id = Model.ISBN }, null)
    </div>
}

<div class="container">
    <div class="left">
        <img src="~/Resources/bookicon2.jpg" class="iconDetails">
    </div>
    <div class="right">
        <dt>ISBN</dt>
        <dd>@Model.ISBN</dd>

        <dt>Title</dt>
        <dd>@Model.Title</dd>

        <dt>Publication Year</dt>
        <dd>@Model.PublicationYear</dd>

        <dt>Publication Info</dt>
        <dd>@Model.publicationinfo</dd>

        <dt>Pages</dt>
        <dd>@Model.Pages</dd>
    </div>
</div>


<div class="container">
    <hr>
    <dt>
        Author of @Model.Title:
    </dt>

    @foreach (var item in Model.BookAuth)
    {
        var FullName = @item.FirstName + " " + @item.LastName;
        <li>
            @Html.ActionLink(@FullName, "ShowAuthor", "Author", new { id = item.Aid }, null)
        </li>
    }
</div>