@model Service.Models.Book

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "ShowBook";
}

<h2>Show chosen Book</h2>

<div>
    @Html.ActionLink("Edit" ,"EditBook" ,"Book" ,new { id = Model.ISBN } ,null) || @Html.ActionLink("Delete", "DeleteBook", "Book", new { id = Model.ISBN }, null)
</div>

<dl>
    <dt>ISBN</dt>
    <dd>@Model.ISBN</dd>

    <dt>Title</dt>
    <dd>@Model.Title</dd>

    <dt>SignId</dt>
    <dd>@Model.SignId</dd>

    <dt>Publication Year</dt>
    <dd>@Model.PublicationYear</dd>

    <dt>Publication Info</dt>
    <dd>@Model.publicationinfo</dd>

    <dt>Pages</dt>
    <dd>@Model.Pages</dd>
</dl>
